In [ ]:
# SQL

# SQL stands for strucuted query language is a standardized programming language
# used for manipulating data bases. It provides methods to interact with data. You can 
# store, retrieve, update and delete data.


# the data is stored in tables that are seperated from one another but linked through various keys.

# writing an sql query (aka a question or request) is analogous to "speaking to the database".

# det finns vissa keywords i sql, som SELECT, FROM, INSERT, WHERE osv. 
# Case sensitive betyder att det bara funkar med säg SELECT och inte med sELECt eller SELect eller select osv.
# keywords i sql är inte case sensitive, vilket betyder att du kan skriva dom hur du vill (caps eller ej).

# syntax för select är
# SELECT KOLUMN1, KOLUMN2,...
# FROM TABLE;

# Semikolon för att visa att vi har pratat klart.

# SELECT * (select och semikolon) väljer ALLA kolumner. Så

# SELECT CustomerName, ContactName
# FROM Customers;

# kommer att välja ut kolumnerna CustomerName och ContactName från Customers tablen
# men om vi skriver 

# SELECT * FROM Customers;

# så får vi CustomerName och ContactName, men även Addres, City, PostalCode osv.

# Vi kan plocka ut alla distinkta värden ur en viss kolumn. 
# SELECT DISTINCT Country FROM Customers;
# Detta innebär att om ett viss land dyker upp vid flera tillfällen i kolumnen Country så plockar
# vi endast ut den en gång. 
# Om vi kör utan DISTINCT keywordet så kommer vi att få repetition (om det finns) 
# Vi kan tex använda COUNT(DISTINCT Country) för att räkna antalet. Hela kodsnutten blir
# SELECT COUNT(DISTINCT Country) FROM Customers;


# WHERE kan användas för att filtrera ytterligare. Tex
# SELECT * FROM Customers
# WHERE Country = "Sweden"
# skulle välja ut alla alla variabler (kolumner) för dom rader sådana att Country var Sweden.
# SQL vill ha '' enkelsnuttar för text, men ofta funkar dubbelsnuttar också.
# Det funkar också att ha vissa operatorer efter WHERE. Tex
# SELECT * FROM Customers
# WHERE Price > 100;
# Operatorer som funkar är: = < >>= =< <> (ej lika med), in (tex i en lista)  LIKE (specifiera ett mönster)
# eller BETWEEN.

# Om vi vill ordna saker kan vi använder ORDER BY
# SELECT Column1, Column2,...
# FROM Table
# ORDER BY Column1, Column2 DESC;
# Om man har karaktärer så ordnar den efter alfabetisk ordning DESC står för descending och skulle
# Göra ordning motsatt alfabetisk, medan ASC skulle vara alfabetisk
# Om man ordnar efter två kolumner så gör den som följande: ordna efter första kolumnen och ifall det är 
# likhet (tie) så tittar den på den andra kolumnen och ordnar dom sinnsemellan efter det. 
# Om man vill ordna Column1 i ascending och Column2 i descending så går det också

# SELECT * from Customers
# ORDER BY Country ASC, CustomerID DESC;


# När man kör WHERE kan man ha flera conditions genom AND eller OR, OR är inklusivt
# Man kan även kombinera dom mha paranteser

# SELECT * FROM Customers
# WHERE Country = 'Spain'
# AND (CustomerName LIKE 'G%' 
# OR CustomerName  LIKE 'R%';

# Denna plockar ut alla records från Customers där Country är Spain OCH CustomerName börjar på ett G eller på ett R
# Här är det viktigt med att använda paranteser så att ens WHERE kriterium blir korrekt!

# WHERE NOT kan också användas för att filtrera mot
# Kan säga WHERE NOT Country = 'Sweden' eller WHERE Country NOT = 'Sweden' elllllerrr??? NOPPPEEE


# Man kan inserta nya värden
# INSERT INTO (col1,col2,col3,...)
# VALUES (val1,val2,val3...)

#eller om alla col är alla i table
# INSERT INTO Table
# VALUES(val1,val2,val3);
# Om man inte fyller i alla kolumner kommer vissa ha null som värde

# IS NULL och IS NOT NULL kan användas för att testa om värde saknas i något field osv


# UPDATE Customers
# SET ContactName = 'Count Dracula', City = 'Transylvania'
# WHERE CustomerID = 1;